{% extends "base.html" %}

{% block title %}
  Delete corporation
{% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
    <div>
      <form method="POST">
        {% csrf_token %}
        <fieldset>
          <p>
            <legend>
              <h2>Delete: "{{ corporation.corporation_name }}"</h2>
            </legend>
          </p>
          <p>
            <strong>Are you sure you would like to delete it?</strong>
          </p>
        </fieldset>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  {% else %}
    {% include "users/403_csrf.html" %}
  {% endif %}
{% endblock content %}
